.container {
    height: auto;
    width: 100vw;
    margin: auto;
    padding-bottom: 1em;
    margin-top: 2em;
    /* padding-right: 0px; */
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 20px 0 hsla(0, 0%, 59.2%, 0.5);
    font-family: 'Noto Sans', sans-serif;
  }

 :root {
   --blue: #122edb;
 }

 .blueBkgd {
  background-color: var(--blue);
 }

 .blueText {
   color: var(--blue);
 }