.buttonClr {
  background-color: var(--hiliteClr);
}

.bg-highlight {
  /* background-color: white; */
}

.bg-highlight:hover {
  background: linear-gradient(114deg, rgba(214,200,233,1) 0%, rgba(216,241,241,1) 50%, rgba(241,241,241,1) 80%);
  transition: .15s ease-in;
}
.down {
  padding-top: 11px;
  padding-left: 6px;
  padding-right: 6px;

  line-height: 1em;
}

.button-down {
  margin-bottom: 8px;
  /* background-color: pink; */
}

.punchArea {
  margin-left: -1.7em;
}

.reduce-right {
  margin-right: 20px;
}
.start-button {
  height: 54px;
  width: 124px;
  margin-top: -27px;
  padding: 4px 12px 6px 6px;
  color: white;
  /* line-height: 3px; */
  display: inline-block;
  background-color: var(--hiliteClr);
  border-radius: 3px;
  position: relative;
}

.start-button:hover {
  background-color: var(--hiliteClrHvr);
}

.start-link {
  height: 12px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding-left: 5px;
  padding-top: 1em;
  position: absolute;
  vertical-align: middle;
  
}